/* Colors and fonts */


body {
  background-image: url(https://www.cdiscount.com/pdt2/7/2/0/1/700x700/asc4051315347720/rw/as-creation-papier-peint-fond-d-ecran-recolte-esp.jpg);
  color: rgb(45,45,45);
  font-family: Lora;
  font-size: 17px;
  text-align: center;
}

h1 {
	color: rgb(97,75,58);
	font-weight: normal;
	letter-spacing: 10px;
	font-size: 32px;
	text-transform: uppercase;
	}

h2 {
	color: rgb(185,170,154);
	font-size: 28px;
	font-weight: lighter;
	font-family: 'Playfair Display', serif;
	}
a {
	text-decoration: none;
	color: rgb(97,75,58);
	transition: color 0.5s ease;
	}
a:hover {
	color: rgb(185,170,154);
	}


.card-white {
	background: white;
	border: 1px solid rgb(185,170,154);
	margin: 10px;
	text-align: center;
	padding: 27px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1)
	border-radius: 4px;
	margin: 20px auto;
	border-radius: 0px;
	width: 800px;
	box-shadow: 5px 3px 3px 2px rgb(97,75,58)
}


#photo_profil {
	border-radius: 50%
}


@media (max-width: 960px) {
.card-white {
width: 700px;
}
}

@media (max-width: 720px) {
.card-white {
width: 500px;
}
}

@media (max-width: 540px) {
.card-white {
width: 300px;
}
}


.btn-blue {
	background-color: rgb(97,75,58)
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-blue:hover {
	background-color: rgb(97,75,58);
	color: rgb(185,170,154);
}

#list-inline {
	list-style: none;
	padding-left: 0px;
	size: 15px
}

#list-inline li {
	display: inline;
	padding: 10px;
}

#list-inline i {
	font-size: 50px
}


